<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EcoChallenge</title>
    <meta name="viewport" content="width=device-width">

    <style type="text/css">

body {
  margin: 0;
  padding: 0;
  width: 276px;
}

.chalk5 {
  display: inline-block;
  background-image: url(chalk-5.png);
  height: 17px;
  width: 26px;
}

.chalk4 {
  display: inline-block;
  background-image: url(chalk-4.png);
  height: 17px;
  width: 26px;
}

.chalk3 {
  display: inline-block;
  background-image: url(chalk-3.png);
  height: 17px;
  width: 26px;
}

.chalk2 {
  display: inline-block;
  background-image: url(chalk-2.png);
  height: 17px;
  width: 26px;
}

.chalk1 {
  display: inline-block;
  background-image: url(chalk-1.png);
  height: 17px;
  width: 26px;
}

.chalk90plus {
  display: inline-block;
  background-image: url(chalk-90plus.png);
  height: 40px;
  width: 273px;
}

#text {
  color: white;
  display: block;
  font-family: CamingoEco, HelveticaNeue;
  font-size: 10.8pt;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {

  .chalk5 {
    background-image: url(chalk-5@2x.png);
    background-size: 26px 17px;
  }

  .chalk4 {
    background-image: url(chalk-4@2x.png);
    background-size: 26px 17px;
  }

  .chalk3 {
    background-image: url(chalk-3@2x.png);
    background-size: 26px 17px;
  }

  .chalk2 {
    background-image: url(chalk-2@2x.png);
    background-size: 26px 17px;
  }

  .chalk1 {
    background-image: url(chalk-1@2x.png);
    background-size: 26px 17px;
  }

  .chalk90plus {
    background-image: url(chalk-90plus@2x.png);
    background-size: 273px 40px;
  }

}

    </style>

  </head>

  <body>

