<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastThemeUpdateCheck</key>
	<integer>0</integer>
	<key>lastFacebookFriendsDownload</key>
	<integer>0</integer>
	<key>facebookAccessToken</key>
	<string></string>
	<key>facebookExpirationDate</key>
	<integer>0</integer>
	<key>facebookID</key>
	<string></string>
	<key>didShowHelp</key>
	<false/>
</dict>
</plist>
